---
import '../styles/global.css';
import { ClientRouter } from 'astro:transitions';
import SEO from '../components/seo/SEO.astro';
import Schema from '../components/seo/Schema.astro';

interface Props {
	title: string;
	description?: string;
	image?: string;
	schemaType?: 'Restaurant' | 'Menu' | 'Article';
}

const { title, description, image, schemaType = 'Restaurant' } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<SEO title={title} description={description} image={image} />
		<Schema type={schemaType} />
		<ClientRouter />
	</head>
	<body class="bg-warynessy-black text-warynessy-cream antialiased min-h-screen flex flex-col">
		<slot />
	</body>
</html>
